# =========================
# FRONTEND (React / Node / Vite)
# =========================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y compilados
node_modules
dist
dist-ssr
*.local

# =========================
# BACKEND (C# / .NET)
# =========================
bin/
obj/
TestResults/
.vs/
*.user
*.userosscache
*.suo
# (Nota: *.sln fue removido de aquí para que sí se suba a Git)

# =========================
# SEGURIDAD Y ENTORNO
# =========================
.env
.env.*.local
.env.development.local
.env.test.local
.env.production.local
appsettings.Development.json

# =========================
# DOCKER / BASE DE DATOS
# =========================
# Ignorar la carpeta de datos locales de Postgres (si la creas)
pgdata/
db-data/

# =========================
# SISTEMA OPERATIVO Y EDITORES
# =========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.ntvs*
*.njsproj
*.sw?